
#dialog{
	padding: 25px;
}
.title{
  float: left;
  font-size: 16px;
  text-align: center;
  margin-left: 15px;
}

.col-lg-3{
	width: 35% !important;
}

.col-lg-3{
	width: 35% !important;
}
.page-content .panel-default{
	float: left;
	width: 50%;
	height: 90%;
}
.page-content .left{
	width: 40%;
}
.page-content .right{
	width: 60%;
}
.form-control{
	width: 160% !important;
}