<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Language" content="zh-cn" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="Copyright" content="BLIT" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <title>抱歉</title>
    <link href="../css/styles/bootstrap.min.css"  rel='stylesheet' type='text/css' />
    <link href="../css/home/global.css" rel="stylesheet" />
    <link href="../css/home/login.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/home/jquery-1.10.2.min.js"></script>
    <script src="../base/error.js"></script>
</head>
<body>
<div class="layui-header header login-header">
    <div class="layui-main login-top-bg">
        <div class="sitename">
            <a class="logo" href="#">
                <img src="../images/home/logo.jpg" alt="fhua" />
            </a>
            <h2>Springboot整合Shiro</h2>
        </div>
    </div>
</div>
<div class="login_content" style="margin: 0 auto;">
    <div id="regist">
        <div id="login">
            <p style="color: red;font-size: 20px;">抱歉，您没有权限访问，请联系管理员。5秒后返回...</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="layui-footer footer footer-doc">
    <div class="layui-main">
        <p>
            <a id="pay" href="javascript:;"></a>
            <a id="git" href="javascript:;">技术支持：https://blog.csdn.net/zhulier1124</a>
        </p>
    </div>
</div>
</body>
</html>
