<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Springboot整合Shiro</title>
</head>
<body>
	<div id="footer" th:fragment="copy">
	    <div class="copyright"> 
		    <a href="#">技术支持：https://blog.csdn.net/zhulier1124</a>
	    </div>
	    <script src="../js/home/jquery-migrate-1.2.1.min.js"></script>
		<script src="../js/bootstrap/bootstrap.min.js"></script>
		<script src="../js/bootstrap/bootstrap-hover-dropdown.js"></script>
		<script src="../js/home/jquery.menu.js"></script>
		<script src="../js/common/dataTableParam.js"></script>
		<script src="../js/home/jquery.slimscroll.js"></script>
		<script src="../js/home/jquery.metisMenu.js"></script>
		<script src="../js/home/icheck.min.js"></script>
		<!--<script src="../js/home/main.js"></script>-->
	</div>
</body>
</html>
