<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>闪信系统</title>
</head>
<body>

<div id="page-wrapper" >
	<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
		<div class="page-header pull-left">
			<div class="page-title"><a href="../home/view">欢迎主页</a></div>
		</div>
		<ol class="breadcrumb page-breadcrumb pull-right">
			<li><i class="fa fa-home"></i>&nbsp;欢迎主页&nbsp;&nbsp;<i
					class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
			<li class="hidden"><a href="#">欢迎主页</a>&nbsp;&nbsp;<i
					class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
			<li class="active">欢迎主页</li>
		</ol>
		<div class="clearfix">

		</div>
	</div>
	<div class="page-content" style="width: 100%;height: 100%" >
		<img style="width: 100%;height: 100%" src="../images/home/weclome.jpg" />
	</div>

</div>
</body>
</html>
